* {
  padding: 0;
  margin: 0; 
}

.frontPage{
  display: flex;
  flex-direction: column;
  text-align:center;
  width:100%;
  height: 100%; 

}

.basicInfo{
  font-size: 1em;
}

.welcomeHeader {
  padding: 8vh 0;
}

.welcome {
  padding-top: 10vh;
  font-size: 4em;
  color: aliceblue;
}

@media screen and (min-width: 789px) {
  .welcome {
    font-size: 6em;
  }
}

.basicInfo{
  color: aliceblue;
  font-size: 1.225em;

  width: 80%;
  margin: auto;
  margin-top: 1em;
  padding: 2em 1em 2em 1em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

@media screen and (min-width: 789px) {
  .basicInfo {
    width: 50%;
  }
}

.begin{
  padding-top: 2em;
}

.infoText{
  border-radius: 5px;
    
}

body, html {
  /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "KoHo", helvetica, arial, sans-serif;
  font-size: 16px; 
  height: 100%;
  background-image: url("../img/front.jpg");
  width:100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  
